.App {
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  margin: auto;
}

h1 {
  font-size: 4rem;
  color: #ffd700;
}

.outer {
  margin: 100px auto;
}

.word-emphasis {
  color: red;
}

.word-deemphasis {
  font-size: 0.5rem;
}

.content-outline {
  background-color: black;
  padding: 10px;
  margin: auto;
  border-radius: 20px;
}

.outer-border {
  background-color: #fff;
  width: fit-content;
  margin: 20px auto 0 auto;
  padding: 10px;
  border-radius: 20px;
}

.thor-picture {
  width: 500px;
}
